@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Trochut & display=swap');
@font-face {
    font-family:'Android';
    src: url('../ex21DESAFIO/fontes/idroid.ttf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family:'Destaque';
    src: url('../ex21DESAFIO/fontes/BebasNeue-Regular.ttf')
    format('opentype');
    font-weight: normal;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --font-padrao: Arial, Verdana, helvetica, Sans-serif;
    --font-destaque: 'Bebas Neue regular', 'sem serifa' ;
    --font-andoid: 'Android', 'cursiva';
}
* {
    margin: 0px;
    padding: 0px;
    margin: auto;
    font-family: var(--font-padrao);
    text-decoration: none;
}
body{
    background-color:var(--cor0);
    font-family: var(--font-padrao);
    
}
a{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 1px;
}
h2{
    font-size: 30px;
}
header{

    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) ) ;
    font-family: var(--font-destaque);
    text-align: center;   
    padding: 20px;

}
nav{
    background-color: var(--cor5);
    padding: 10px;
}
nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition-duration: 1ms;
    border-radius: 5px;
}
nav a:hover{
    background-color: #51d88e;
    color: #063d1e;
    padding: 14px 20px;
    font-size: 20px;
    transition-duration: 500ms;
}
header > h1 { 
   color: white;
   padding-bottom: 10px;
}
header > p {
    color: white;
}
main{
    font-family: var(--font-andoid);
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main  h1 {
    color: var(--cor4);
    font-family:'Android';
    padding: 10px 20px 20px 20px;
}
main  h2{
    color: var(--cor4);
    font-family:'Android';
    padding: 10px 20px 20px 20px;
}
main p{
    padding-left: 10px;
}
main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 50px;
}
abbr{
    text-decoration: none;
}
li{
    list-style-type: none;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 10px;
}
img{
    width: 100%;
    border-radius: 10px;
}
article h1{
    padding: 10px;
}
article h2{
    text-align: center;
}
article p{
    padding: 20px;
}
aside{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1) ) ;
    border-radius: 10px;
    border-color: black;
}
aside h3{
    padding: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    margin: 0px 0px 0px 0px;
    background-color: #063d1e;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
aside p{
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside ul{
    padding: 20px;
    cursor: pointer;
    columns: 2;
}
aside ul li{
    padding: 5px;
    margin: 0%;
}
aside ul li:hover{
    padding: 15px;
    background-color: #2f9e61;
    border-radius: 10px;
    transition-duration: .5s;
    margin: 0%;
}
div.video{
    background-color: #51d88e;
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    margin-bottom: 10px;
    border-radius: 5px;
}


